
CONFIG VCCAUX  = 3.3;



NET "RED[7]" IOSTANDARD = LVTTL;
NET "RED[6]" IOSTANDARD = LVTTL;
NET "RED[5]" IOSTANDARD = LVTTL;
NET "RED[4]" IOSTANDARD = LVTTL;
NET "RED[3]" IOSTANDARD = LVTTL;
NET "RED[2]" IOSTANDARD = LVTTL;
NET "RED[1]" IOSTANDARD = LVTTL;
NET "RED[0]" IOSTANDARD = LVTTL;
NET "LED_A[3]" IOSTANDARD = LVTTL;
NET "LED_A[2]" IOSTANDARD = LVTTL;
NET "LED_A[1]" IOSTANDARD = LVTTL;
NET "LED_A[0]" IOSTANDARD = LVTTL;
NET "GREEN[7]" IOSTANDARD = LVTTL;
NET "GREEN[6]" IOSTANDARD = LVTTL;
NET "GREEN[5]" IOSTANDARD = LVTTL;
NET "GREEN[4]" IOSTANDARD = LVTTL;
NET "GREEN[3]" IOSTANDARD = LVTTL;
NET "GREEN[2]" IOSTANDARD = LVTTL;
NET "GREEN[1]" IOSTANDARD = LVTTL;
NET "GREEN[0]" IOSTANDARD = LVTTL;
NET "BLUE[7]" IOSTANDARD = LVTTL;
NET "BLUE[6]" IOSTANDARD = LVTTL;
NET "BLUE[5]" IOSTANDARD = LVTTL;
NET "BLUE[4]" IOSTANDARD = LVTTL;
NET "BLUE[3]" IOSTANDARD = LVTTL;
NET "BLUE[2]" IOSTANDARD = LVTTL;
NET "BLUE[1]" IOSTANDARD = LVTTL;
NET "BLUE[0]" IOSTANDARD = LVTTL;


NET "BLUE[7]" LOC = P134;
NET "BLUE[6]" LOC = P137;
NET "BLUE[5]" LOC = P138;
NET "BLUE[4]" LOC = P139;
NET "BLUE[3]" LOC = P140;
NET "BLUE[2]" LOC = P141;
NET "BLUE[1]" LOC = P142;
NET "BLUE[0]" LOC = P143;
NET "GREEN[7]" LOC = P117;
NET "GREEN[6]" LOC = P118;
NET "GREEN[5]" LOC = P119;
NET "GREEN[4]" LOC = P120;
NET "GREEN[3]" LOC = P121;
NET "GREEN[2]" LOC = P123;
NET "GREEN[1]" LOC = P124;
NET "GREEN[0]" LOC = P126;
NET "LED_A[0]" LOC = P83;
NET "LED_A[1]" LOC = P82;
NET "LED_A[2]" LOC = P81;
NET "LED_A[3]" LOC = P80;
NET "RED[7]" LOC = P102;
NET "RED[6]" LOC = P104;
NET "RED[5]" LOC = P105;
NET "RED[4]" LOC = P111;
NET "RED[3]" LOC = P112;
NET "RED[2]" LOC = P114;
NET "RED[1]" LOC = P115;
NET "RED[0]" LOC = P116;


NET "DE" IOSTANDARD = LVTTL;
NET "LED_1_R0" IOSTANDARD = LVTTL;


NET "DE" LOC = P127;
NET "DVI_HPD" LOC = P144;
NET "I2C_SCL_EDID" LOC = P100;
NET "I2C_SDA_EDID" LOC = P99;
NET "HSYNC" LOC = P131;
NET "FPGA_RST" LOC = P95;
NET "FPGA_CLK0" LOC = P94;
NET "FPGA_CLK1" LOC = P93;
NET "LED_0_B0" LOC = P27;
NET "LED_0_B1" LOC = P26;
NET "LED_0_G0" LOC = P30;
NET "LED_0_G1" LOC = P29;
NET "LED_0_R0" LOC = P33;
NET "LED_0_R1" LOC = P32;
NET "LED_1_B0" LOC = P46;
NET "LED_1_B1" LOC = P45;
NET "LED_1_G0" LOC = P48;
NET "LED_1_G1" LOC = P47;
NET "LED_1_R0" LOC = P51;
NET "LED_1_R1" LOC = P50;
NET "LED_2_B0" LOC = P66;
NET "LED_2_B1" LOC = P62;
NET "LED_2_G0" LOC = P74;
NET "LED_2_G1" LOC = P67;
NET "LED_2_R0" LOC = P78;
NET "LED_2_R1" LOC = P75;
NET "LED_3_B0" LOC = P17;
NET "LED_3_B1" LOC = P16;
NET "LED_3_G0" LOC = P22;
NET "LED_3_G1" LOC = P21;
NET "LED_3_R0" LOC = P24;
NET "LED_3_R1" LOC = P23;
NET "LED_CLK" LOC = P92;
NET "LED_LT" LOC = P88;
NET "LED_OE" LOC = P87;
NET "LED_LDM" LOC = P69;
NET "LED_RGB" LOC = P39;
NET "LED_STAT" LOC = P60;
NET "VSYNC" LOC = P132;
NET "PCLK" LOC = P133;


NET "DVI_HPD" IOSTANDARD = LVTTL;
NET "FPGA_CLK0" IOSTANDARD = LVTTL;
NET "VSYNC" IOSTANDARD = LVTTL;
NET "PCLK" IOSTANDARD = LVTTL;

# PlanAhead Generated IO constraints 

NET "FPGA_CLK1" IOSTANDARD = LVTTL;
NET "FPGA_RST" IOSTANDARD = LVTTL;
NET "HSYNC" IOSTANDARD = LVTTL;
NET "LED_0_B0" IOSTANDARD = LVTTL;
NET "LED_0_B1" IOSTANDARD = LVTTL;
NET "LED_0_G1" IOSTANDARD = LVTTL;
NET "LED_0_G0" IOSTANDARD = LVTTL;
NET "LED_0_R0" IOSTANDARD = LVTTL;
NET "LED_0_R1" IOSTANDARD = LVTTL;
NET "LED_1_B0" IOSTANDARD = LVTTL;
NET "LED_1_B1" IOSTANDARD = LVTTL;
NET "LED_1_G0" IOSTANDARD = LVTTL;
NET "LED_1_G1" IOSTANDARD = LVTTL;
NET "LED_1_R1" IOSTANDARD = LVTTL;
NET "LED_2_B0" IOSTANDARD = LVTTL;
NET "LED_2_B1" IOSTANDARD = LVTTL;
NET "LED_2_G0" IOSTANDARD = LVTTL;
NET "LED_2_G1" IOSTANDARD = LVTTL;
NET "LED_2_R0" IOSTANDARD = LVTTL;
NET "LED_2_R1" IOSTANDARD = LVTTL;
NET "LED_3_B0" IOSTANDARD = LVTTL;
NET "LED_3_B1" IOSTANDARD = LVTTL;
NET "LED_3_G0" IOSTANDARD = LVTTL;
NET "LED_3_G1" IOSTANDARD = LVTTL;
NET "LED_3_R0" IOSTANDARD = LVTTL;
NET "LED_3_R1" IOSTANDARD = LVTTL;
NET "LED_CLK" IOSTANDARD = LVTTL;
NET "LED_LDM" IOSTANDARD = LVTTL;
NET "LED_LT" IOSTANDARD = LVTTL;
NET "LED_OE" IOSTANDARD = LVTTL;
NET "LED_RGB" IOSTANDARD = LVTTL;
NET "LED_STAT" IOSTANDARD = LVTTL;
NET "I2C_SDA_EDID" IOSTANDARD = I2C;
NET "I2C_SCL_EDID" IOSTANDARD = I2C;
