##     6slx9tqg144 PIN Description       ##
## Total Number of Pins generated, 144  ##

NET "ODCLK" TNM_NET = "ODCLK";
## 60Mhz
TIMESPEC TS_ODCLK = PERIOD "ODCLK" 16.5 ns HIGH 50 %;
          

CONFIG VCCAUX  = 3.3;
# Valid values are 2.5 and 3.3


NET "FPGA_CLK0" IOSTANDARD = LVTTL;
NET "FPGA_CLK1" IOSTANDARD = LVTTL;
NET "F_RST" IOSTANDARD = LVTTL;
NET "ODCLK" IOSTANDARD = LVTTL;
NET "VSYNC" IOSTANDARD = LVTTL;
NET "HSYNC" IOSTANDARD = LVTTL;
NET "DE" IOSTANDARD = LVTTL;
NET "QPX_BLUE0" IOSTANDARD = LVTTL;
NET "QPX_BLUE1" IOSTANDARD = LVTTL;
NET "QPX_BLUE2" IOSTANDARD = LVTTL;
NET "QPX_BLUE3" IOSTANDARD = LVTTL;
NET "QPX_BLUE4" IOSTANDARD = LVTTL;
NET "QPX_BLUE5" IOSTANDARD = LVTTL;
NET "QPX_BLUE6" IOSTANDARD = LVTTL;
NET "QPX_BLUE7" IOSTANDARD = LVTTL;
NET "QPX_GRN0" IOSTANDARD = LVTTL;
NET "QPX_GRN1" IOSTANDARD = LVTTL;
NET "QPX_GRN2" IOSTANDARD = LVTTL;
NET "QPX_GRN3" IOSTANDARD = LVTTL;
NET "QPX_GRN4" IOSTANDARD = LVTTL;
NET "QPX_GRN5" IOSTANDARD = LVTTL;
NET "QPX_GRN6" IOSTANDARD = LVTTL;
NET "QPX_GRN7" IOSTANDARD = LVTTL;
NET "QPX_RED0" IOSTANDARD = LVTTL;
NET "QPX_RED1" IOSTANDARD = LVTTL;
NET "QPX_RED2" IOSTANDARD = LVTTL;
NET "QPX_RED3" IOSTANDARD = LVTTL;
NET "QPX_RED4" IOSTANDARD = LVTTL;
NET "QPX_RED5" IOSTANDARD = LVTTL;
NET "QPX_RED6" IOSTANDARD = LVTTL;
NET "QPX_RED7" IOSTANDARD = LVTTL;
NET "DVI_HPD" IOSTANDARD = LVTTL;
NET "LDM_CLK" IOSTANDARD = LVTTL;
NET "LDM_LT" IOSTANDARD = LVTTL;
NET "LDM_ROE" IOSTANDARD = LVTTL;
NET "LDM_A0" IOSTANDARD = LVTTL;
NET "LDM_A1" IOSTANDARD = LVTTL;
NET "LDM_A2" IOSTANDARD = LVTTL;
NET "LDM_A3" IOSTANDARD = LVTTL;
NET "LDM0_R0" IOSTANDARD = LVTTL;
NET "LDM0_R1" IOSTANDARD = LVTTL;
NET "LDM0_G0" IOSTANDARD = LVTTL;
NET "LDM0_G1" IOSTANDARD = LVTTL;
NET "LDM0_B0" IOSTANDARD = LVTTL;
NET "LDM0_B1" IOSTANDARD = LVTTL;
NET "LDM1_R0" IOSTANDARD = LVTTL;
NET "LDM1_R1" IOSTANDARD = LVTTL;
NET "LDM1_G0" IOSTANDARD = LVTTL;
NET "LDM1_G1" IOSTANDARD = LVTTL;
NET "LDM1_B0" IOSTANDARD = LVTTL;
NET "LDM1_B1" IOSTANDARD = LVTTL;
NET "LDM2_R0" IOSTANDARD = LVTTL;
NET "LDM2_R1" IOSTANDARD = LVTTL;
NET "LDM2_G0" IOSTANDARD = LVTTL;
NET "LDM2_G1" IOSTANDARD = LVTTL;
NET "LDM2_B0" IOSTANDARD = LVTTL;
NET "LDM2_B1" IOSTANDARD = LVTTL;
NET "LDM3_R0" IOSTANDARD = LVTTL;
NET "LDM3_R1" IOSTANDARD = LVTTL;
NET "LDM3_G0" IOSTANDARD = LVTTL;
NET "LDM3_G1" IOSTANDARD = LVTTL;
NET "LDM3_B0" IOSTANDARD = LVTTL;
NET "LDM3_B1" IOSTANDARD = LVTTL;
NET "DEBUG" IOSTANDARD = LVTTL;

NET "FPGA_CLK0" DRIVE = 12;
NET "FPGA_CLK1" DRIVE = 12;
NET "F_RST" DRIVE = 12;
NET "ODCLK" DRIVE = 12;
NET "VSYNC" DRIVE = 12;
NET "HSYNC" DRIVE = 12;
NET "DE" DRIVE = 12;
NET "QPX_BLUE0" DRIVE = 12;
NET "QPX_BLUE1" DRIVE = 12;
NET "QPX_BLUE2" DRIVE = 12;
NET "QPX_BLUE3" DRIVE = 12;
NET "QPX_BLUE4" DRIVE = 12;
NET "QPX_BLUE5" DRIVE = 12;
NET "QPX_BLUE6" DRIVE = 12;
NET "QPX_BLUE7" DRIVE = 12;
NET "QPX_GRN0" DRIVE = 12;
NET "QPX_GRN1" DRIVE = 12;
NET "QPX_GRN2" DRIVE = 12;
NET "QPX_GRN3" DRIVE = 12;
NET "QPX_GRN4" DRIVE = 12;
NET "QPX_GRN5" DRIVE = 12;
NET "QPX_GRN6" DRIVE = 12;
NET "QPX_GRN7" DRIVE = 12;
NET "QPX_RED0" DRIVE = 12;
NET "QPX_RED1" DRIVE = 12;
NET "QPX_RED2" DRIVE = 12;
NET "QPX_RED3" DRIVE = 12;
NET "QPX_RED4" DRIVE = 12;
NET "QPX_RED5" DRIVE = 12;
NET "QPX_RED6" DRIVE = 12;
NET "QPX_RED7" DRIVE = 12;
NET "DVI_HPD" DRIVE = 12;
NET "LDM_CLK" DRIVE = 12;
NET "LDM_LT" DRIVE = 12;
NET "LDM_ROE" DRIVE = 12;
NET "LDM_A0" DRIVE = 12;
NET "LDM_A1" DRIVE = 12;
NET "LDM_A2" DRIVE = 12;
NET "LDM_A3" DRIVE = 12;
NET "LDM0_R0" DRIVE = 12;
NET "LDM0_R1" DRIVE = 12;
NET "LDM0_G0" DRIVE = 12;
NET "LDM0_G1" DRIVE = 12;
NET "LDM0_B0" DRIVE = 12;
NET "LDM0_B1" DRIVE = 12;
NET "LDM1_R0" DRIVE = 12;
NET "LDM1_R1" DRIVE = 12;
NET "LDM1_G0" DRIVE = 12;
NET "LDM1_G1" DRIVE = 12;
NET "LDM1_B0" DRIVE = 12;
NET "LDM1_B1" DRIVE = 12;
NET "LDM2_R0" DRIVE = 12;
NET "LDM2_R1" DRIVE = 12;
NET "LDM2_G0" DRIVE = 12;
NET "LDM2_G1" DRIVE = 12;
NET "LDM2_B0" DRIVE = 12;
NET "LDM2_B1" DRIVE = 12;
NET "LDM3_R0" DRIVE = 12;
NET "LDM3_R1" DRIVE = 12;
NET "LDM3_G0" DRIVE = 12;
NET "LDM3_G1" DRIVE = 12;
NET "LDM3_B0" DRIVE = 12;
NET "LDM3_B1" DRIVE = 12;
NET "DEBUG" DRIVE = 12;

NET "FPGA_CLK0" SLEW = SLOW;
NET "FPGA_CLK1" SLEW = SLOW;
NET "F_RST" SLEW = SLOW;
NET "ODCLK" SLEW = SLOW;
NET "VSYNC" SLEW = SLOW;
NET "HSYNC" SLEW = SLOW;
NET "DE" SLEW = SLOW;
NET "QPX_BLUE0" SLEW = SLOW;
NET "QPX_BLUE1" SLEW = SLOW;
NET "QPX_BLUE2" SLEW = SLOW;
NET "QPX_BLUE3" SLEW = SLOW;
NET "QPX_BLUE4" SLEW = SLOW;
NET "QPX_BLUE5" SLEW = SLOW;
NET "QPX_BLUE6" SLEW = SLOW;
NET "QPX_BLUE7" SLEW = SLOW;
NET "QPX_GRN0" SLEW = SLOW;
NET "QPX_GRN1" SLEW = SLOW;
NET "QPX_GRN2" SLEW = SLOW;
NET "QPX_GRN3" SLEW = SLOW;
NET "QPX_GRN4" SLEW = SLOW;
NET "QPX_GRN5" SLEW = SLOW;
NET "QPX_GRN6" SLEW = SLOW;
NET "QPX_GRN7" SLEW = SLOW;
NET "QPX_RED0" SLEW = SLOW;
NET "QPX_RED1" SLEW = SLOW;
NET "QPX_RED2" SLEW = SLOW;
NET "QPX_RED3" SLEW = SLOW;
NET "QPX_RED4" SLEW = SLOW;
NET "QPX_RED5" SLEW = SLOW;
NET "QPX_RED6" SLEW = SLOW;
NET "QPX_RED7" SLEW = SLOW;
NET "DVI_HPD" SLEW = SLOW;
NET "LDM_CLK" SLEW = SLOW;
NET "LDM_LT" SLEW = SLOW;
NET "LDM_ROE" SLEW = SLOW;
NET "LDM_A0" SLEW = SLOW;
NET "LDM_A1" SLEW = SLOW;
NET "LDM_A2" SLEW = SLOW;
NET "LDM_A3" SLEW = SLOW;
NET "LDM0_R0" SLEW = SLOW;
NET "LDM0_R1" SLEW = SLOW;
NET "LDM0_G0" SLEW = SLOW;
NET "LDM0_G1" SLEW = SLOW;
NET "LDM0_B0" SLEW = SLOW;
NET "LDM0_B1" SLEW = SLOW;
NET "LDM1_R0" SLEW = SLOW;
NET "LDM1_R1" SLEW = SLOW;
NET "LDM1_G0" SLEW = SLOW;
NET "LDM1_G1" SLEW = SLOW;
NET "LDM1_B0" SLEW = SLOW;
NET "LDM1_B1" SLEW = SLOW;
NET "LDM2_R0" SLEW = SLOW;
NET "LDM2_R1" SLEW = SLOW;
NET "LDM2_G0" SLEW = SLOW;
NET "LDM2_G1" SLEW = SLOW;
NET "LDM2_B0" SLEW = SLOW;
NET "LDM2_B1" SLEW = SLOW;
NET "LDM3_R0" SLEW = SLOW;
NET "LDM3_R1" SLEW = SLOW;
NET "LDM3_G0" SLEW = SLOW;
NET "LDM3_G1" SLEW = SLOW;
NET "LDM3_B0" SLEW = SLOW;
NET "LDM3_B1" SLEW = SLOW;
NET "DEBUG" SLEW = SLOW;

NET "ODCLK" LOC = P133;
NET "VSYNC" LOC = P132;


NET "scl_ddc" IOSTANDARD = I2C;
NET "sda_ddc" IOSTANDARD = I2C;




PIN "dot_top/clk_cgen/BUFGMUX.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "dot_top/display/dotclkbuf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "dot_top/clk_cgen/clkm_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "dot_top/clk_cgen/clkm_gen/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "dot_top/clk_cgen/BUFGMUX.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "i2c_clk_dcm/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "I2C_CTL_SDA" IOSTANDARD = I2C;
NET "I2C_CTL_SCL" IOSTANDARD = I2C;

NET "DE" LOC = P127;
NET "HSYNC" LOC = P131;
NET "F_RST" LOC = P95;
NET "FPGA_CLK0" LOC = P94;
NET "FPGA_CLK1" LOC = P93;
NET "I2C_CTL_SCL" LOC = P98;
NET "I2C_CTL_SDA" LOC = P97;
NET "LDM_CLK" LOC = P92;
NET "LDM_LT" LOC = P88;
NET "LDM_ROE" LOC = P87;
NET "LDM_A0" LOC = P83;
NET "LDM_A1" LOC = P82;
NET "LDM_A2" LOC = P81;
NET "LDM_A3" LOC = P80;

NET "LDM0_B0" LOC = P27;
NET "LDM0_B1" LOC = P26;
NET "LDM0_G0" LOC = P30;
NET "LDM0_G1" LOC = P29;
NET "LDM0_R0" LOC = P33;
NET "LDM0_R1" LOC = P32;

NET "LDM1_B0" LOC = P46;
NET "LDM1_B1" LOC = P45;
NET "LDM1_G0" LOC = P48;
NET "LDM1_G1" LOC = P47;
NET "LDM1_R0" LOC = P51;
NET "LDM1_R1" LOC = P50;

NET "LDM2_B0" LOC = P66;
NET "LDM2_B1" LOC = P62;
NET "LDM2_G0" LOC = P74;
NET "LDM2_G1" LOC = P67;
NET "LDM2_R0" LOC = P78;
NET "LDM2_R1" LOC = P75;

NET "LDM3_B0" LOC = P17;
NET "LDM3_B1" LOC = P16;
NET "LDM3_G0" LOC = P22;
NET "LDM3_G1" LOC = P21;
NET "LDM3_R0" LOC = P24;
NET "LDM3_R1" LOC = P23;

#NET "LDM5_G0" LOC = P58;

NET "LDM_BOE" LOC = P84;
NET "LDM_GOE" LOC = P85;

NET "LDM_BOE" IOSTANDARD = LVTTL;
NET "LDM_GOE" IOSTANDARD = LVTTL;



NET "DIP_SW_ROW[3]" LOC = P15;
NET "DIP_SW_ROW[2]" LOC = P14;
NET "DIP_SW_ROW[1]" LOC = P12;
NET "DIP_SW_ROW[0]" LOC = P11;
NET "DIP_SW_INPUT[7]" LOC = P10;
NET "DIP_SW_INPUT[6]" LOC = P9;
NET "DIP_SW_INPUT[5]" LOC = P8;
NET "DIP_SW_INPUT[4]" LOC = P7;
NET "DIP_SW_INPUT[3]" LOC = P6;
NET "DIP_SW_INPUT[2]" LOC = P5;
NET "DIP_SW_INPUT[1]" LOC = P2;
NET "DIP_SW_INPUT[0]" LOC = P1;


NET "LDM4_B0" IOSTANDARD = LVTTL;
NET "LDM4_G1" IOSTANDARD = LVTTL;
NET "LDM4_G0" IOSTANDARD = LVTTL;
NET "LDM4_B1" IOSTANDARD = LVTTL;
NET "LDM4_R1" IOSTANDARD = LVTTL;
NET "LDM4_R0" IOSTANDARD = LVTTL;

NET "LDM5_B0" IOSTANDARD = LVTTL;
NET "LDM5_G0" IOSTANDARD = LVTTL;
NET "LDM5_R0" IOSTANDARD = LVTTL;
NET "LDM5_B1" IOSTANDARD = LVTTL;
NET "LDM5_G1" IOSTANDARD = LVTTL;
NET "LDM5_R1" IOSTANDARD = LVTTL;

NET "DIP_SW_ROW[3]" IOSTANDARD = LVTTL;
NET "DIP_SW_ROW[2]" IOSTANDARD = LVTTL;
NET "DIP_SW_ROW[1]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[7]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[6]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[5]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[4]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[3]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[2]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[1]" IOSTANDARD = LVTTL;
NET "DIP_SW_INPUT[0]" IOSTANDARD = LVTTL;
NET "DIP_SW_ROW[0]" IOSTANDARD = LVTTL;

NET "LDM_DIS" LOC = P79;

NET "LDM_DIS" IOSTANDARD = LVTTL;
NET "LDM_DIS" PULLUP;

NET "scl_ddc" LOC = P100;
NET "sda_ddc" LOC = P99;
NET "DVI_HPD" LOC = P144;

#NET "sda_ddc" LOC = P98;
#NET "scl_ddc" LOC = P97;
#NET "I2C_CTL_SCL" LOC = P100;
#NET "I2C_CTL_SDA" LOC = P99;


NET "QPX_BLUE0" LOC = P143;
NET "QPX_BLUE1" LOC = P142;
NET "QPX_BLUE2" LOC = P141;
NET "QPX_BLUE3" LOC = P140;
NET "QPX_BLUE4" LOC = P139;
NET "QPX_BLUE5" LOC = P138;
NET "QPX_BLUE6" LOC = P137;
NET "QPX_BLUE7" LOC = P134;
NET "QPX_GRN0" LOC = P126;
NET "QPX_GRN1" LOC = P124;
NET "QPX_GRN2" LOC = P123;
NET "QPX_GRN3" LOC = P121;
NET "QPX_GRN4" LOC = P120;
NET "QPX_GRN5" LOC = P119;
NET "QPX_GRN6" LOC = P118;
NET "QPX_GRN7" LOC = P117;
NET "QPX_RED0" LOC = P116;
NET "QPX_RED1" LOC = P115;
NET "QPX_RED2" LOC = P114;
NET "QPX_RED3" LOC = P112;
NET "QPX_RED4" LOC = P111;
NET "QPX_RED5" LOC = P105;
NET "QPX_RED6" LOC = P104;
NET "QPX_RED7" LOC = P102;


NET "LED_LDM" LOC = P69;
NET "LED_LDM" IOSTANDARD = LVTTL;


NET "LED_RGB" LOC = P39;
NET "LED_STAT" LOC = P60;
NET "LED_RGB" IOSTANDARD = LVTTL;
NET "LED_STAT" IOSTANDARD = LVTTL;


NET "DIP_SW_INPUT[7]" PULLUP;
NET "DIP_SW_INPUT[6]" PULLUP;
NET "DIP_SW_INPUT[5]" PULLUP;
NET "DIP_SW_INPUT[4]" PULLUP;
NET "DIP_SW_INPUT[3]" PULLUP;
NET "DIP_SW_INPUT[2]" PULLUP;
NET "DIP_SW_INPUT[1]" PULLUP;
NET "DIP_SW_INPUT[0]" PULLUP;

# PlanAhead Generated physical constraints 

#NET "LDM5_R1" LOC = P59;
